
#landing {
    width: 100vw;
    height: 100vh;
}

#landing #background-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing #container-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing #container-page h1{
    color: var(--color-adota);
    font-size: 10rem;
}

#landing #container-page h1 span{
    color: var(--color-ae);
}

#landing #container-page p{
    height: 290px;
    text-align: right;
    font-size: 1.8rem;
    padding-top: 70px;
    width: 600px;
    padding: 70px 125px 0;
}

#landing #container-page #container-buttons {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing #container-page #container-buttons button {
    height: 6rem;
    color: var(--color-text-button);
    font-size: 2rem;
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

#landing #container-page #container-buttons .find{
    background: var(--color-ae);
}

#landing #container-page #container-buttons .divulge{
    background: var(--color-adota);
    margin-left: 2rem;
}

#landing #container-page #container-buttons .find:hover{
    background: var(--color-ae-dark);
}

#landing #container-page #container-buttons .divulge:hover{
    background: var(--color-adota-dark);
}
