:root {
    font-size: 60%;
    --color-background: #F0F0F7;
    --color-text-base: #6A6180;
    --color-pet: #73CEF6;
    --color-finder: #FF8DEA;
    --color-pet-dark: #34b1e8;
    --color-finder-dark: #f766dc;
    --color-text-button: #fff;
    --color-input-background: #F8F8FC;
    --color-line-in-white: #E6E6F0;
    --color-pet-light: #6fb9da;
    --color-box-base: #FFF;
    --color-box-footer: #e2e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body, #root {
    height: 100vh;
}

body {
    background: var(--color-background) ;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,input,button,textarea {
    font:500 1.6rem Poppins;
    color: var(--color-text-base);
}